@import url("./reset.css");
@import url("./fonts.css");

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 25px;
}

h2 {
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.section-title {
    margin-bottom: 10px;
    font-size: 25px;
    transition: all 400ms;
}

.section-title:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.glide__slide {
    display: flex;
    height: auto;
}

.glide__slide img {
    width: 100%;
}

.glide__bullets {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bullet {
    display: block;
    height: 8px;
    width: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: rgba(179, 194, 190, 0.51);
    border-radius: 10px;
    transition: all 0.4s ease;
}

.glide__bullet--active {
    background-color: #ff5ea5;
}

.section-title::after {
    display: block;
    content: "";
    width: 220px;
    height: 2px;
    background-color: #FF5EA5;
    margin: 15px auto;
    transition: all 400ms;
}

.section-title:hover::after {
    display: block;
    content: "";
    width: 350px;
    height: 2px;
    background-color: #FF5EA5;
    margin: 15px auto;
    transform: scale(1.1);
}

/*Хедер - начало */

.header {
    background-color: #f8dbe6;
    padding: 16px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-info-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.header-logo {
    width: 48px;
    height: 48px;
}

.header-address {
    font-size: 12px;
    width: 80%;
}

.header-time {
    font-size: 12px;
}

.header-contacts {
    display: none;
    align-items: center;
    gap: 5px;
}

.header-tel {
    margin-right: 16px;
    color: white;
}

/*Хедер - конец */

/*Навигация - начало */
.menu {
    display: flex;
    color: white;
}

.navbar {
    max-height: 0;
    transition: max-height 200ms;
}

.navbar.is-open {
    max-height: 250px;
}

.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: black;
    padding: 16px 0;
}

.nav-link {
    transition: color 300ms ease;
}

.nav-link:hover {
    color:#b1cdc3;
}
/*Навигация - конец */

/*Баннер - начало*/

.banner {
    height: auto;
    position: relative;
}

.banner-greetings {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
    padding: 0;
}

.banner-welcome {
    color: #FFFFFF;
    padding: 30px 20px;
    width: 100%;
    background-color: rgba(52, 60, 68, 0.8);
}

.banner-title {
   font-weight: bold;
}

.banner-slides {
    display: flex;
}

.greetings {
    font-size: 14px;
    line-height: 24px;
    align-self: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px 0;
}

.banner-button-general {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.banner-button {
    display: block;
    text-decoration: none;
    outline: 0;
    background: unset;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    transition: all 300ms;
}

.banner-button:hover {
   transform: scale(1.1);
}

.banner-button-border {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343c44;
    color: #FFFFFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
}

.banner-button-span {
    font-size: 14px;
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75%;
}
    /*Баннер - конец */

    /*Приветствие от Анны - начало*/
.section-greetings {
    display: flex;
    justify-content: center;
}

.block-greetings {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.self-title {
    text-align: center;
}

.greetings-img-wrapper {
    flex-basis: 100%;
}

.photo-anna {
    height: 100%;
    object-fit: cover;
}

.self-description {
    display: flex;
    flex-direction: column;
    color: #848484;
    gap: 10px;
    padding: 20px;
    font-size: 16px;
}
    /*Приветствие-конец*/

/* Реклама начало*/
.section-pros {
    background-color: #f8cdda;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 40px;

}

.pros-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #222222;
    font-weight: 600;
    line-height: 1.1em;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.pros-title:hover {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    cursor: pointer;
}

.pros {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.adv {
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.adv:hover {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    cursor: pointer;
}

.block-pros {
    display: flex;
    flex-direction: column;
}

.pros {
    display: flex;
}

.gallery-track {
    position: relative;
}

.pros-carousel-arrows {
    display: none;
}

.arrows-r, .arrows-l {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(159, 163, 163);
}

.arrows-r:hover, .arrows-l:hover {
    color: rgba(255, 255, 255, 0.9);
}

.arrows-r {
    left: -40px;
}
.arrows-l {
    right: -40px;
}

/* Реклама конец*/

   /*Карточки с услугами - начало */

.section-service {
    background-color: #f8f7f7;
    padding: 24px 0;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.card-service {
    display: flex;
    flex-direction: column;
    color: #848484;
    border: 0.5px solid rgba(159, 163, 163, 0.4);
}

.img-wrapper {
    overflow: hidden;
}

.img-service {
    width: 100%;
    transition: all 300ms;
}

.card-service:hover .img-service {
    transform: scale(1.1);
}

.service-name {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 18px;
}

.card-service:hover {
    cursor: pointer;
}

.service-name::after {
    display: block;
    content: "";
    width: 70px;
    height: 1px;
    margin-top: 10px;
    background-color: #FF5EA5;
    transition: all 0.3s ease;
}

.card-service:hover .service-name::after {
    display: block;
    content: "";
    width: 120px;
    height: 1px;
    margin-top: 10px;
    background-color: #FF5EA5;
    color: rgb(255, 255, 255);
}

.service-card-description {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding: 20px 15px 15px;
}
    /*Карточки с услугами - конец */

    /*Комплексные программы - начало */
.comprehensive-programs {
    padding: 24px 0;
}

.comprehensive-block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.complex {
    border: 0.8px solid #c2c1c1;
    padding: 15px;
    border-radius: 5px;
}

.complex:hover {
    cursor: pointer;
    border: 1px solid rgba(196, 196, 196, 0.76);
}

.complex-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.complex-name:hover {
    opacity: 0.75;
    cursor: pointer;
}

 .complex-name p {
     color: #027a7a;
}

 .spa-description {
     margin: 5px;
 }

 .spa-description li:hover {
     color: #ff0772;
 }

 .bold {
     font-weight: bold;
 }
/*Комплексные программы - конец */

    /*Прайс лист - начало*/

.section-price-list {
    background-color: rgba(248, 229, 236, 0.9);
    padding: 24px 0;
}

.price-title {
    cursor: pointer;
}

.block-price {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.prise-list {
    padding: 30px 20px;
}

.price-name {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.price-name:hover {
    cursor: pointer;
    color: #ff5ea5;
}

.block {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #595959;
    padding-bottom: 8px;
    border-bottom: 1px solid #dedede;
}

.block:last-of-type {
    margin-bottom: 0;
    border: none;
}

.block:hover {
    cursor: pointer;
    color: #ff5ea5;
}

.price {
    text-align: end;
    font-weight: 500;
    color: #c7256c;
}
    /*Прайс лист - конец*/

    /*Фотогалерея - начало*/

.block-photo-gallery {
    display: flex;
}

.photo-gallery-track {
    position: relative;
}

.photo-gallery-arrows {
    display: none;
}

.photo-gallery-arrows-r, .photo-gallery-arrows-l {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(159, 163, 163);
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.photo-gallery-arrows-r:hover, .photo-gallery-arrows-l:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.photo-gallery-arrows-r {
    left: 2%;
}
.photo-gallery-arrows-l {
    right: 2%;
}

    /*Фотогалерея - конец*/

    /*Карта  - начало*/

.section-map {
    padding: 24px 0;
    background-color: #777777;
}

.title-map {
    color: #FFFFFF;
}

.block-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.address-item {
    font-size: 20px;
    color: #6094a5;
    padding-top: 5px;

}

div[class*=box] {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    background: linear-gradient(90deg, hsla(198, 65%, 34%, 1) 0%, hsla(178, 44%, 32%, 1) 100%);
    padding: 5px 0 15px 0;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;

}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.map iframe {
     width: 100%;
}

    /*Карта  - конец*/

    /*Отзывы клиентов - начало*/

.section-reviews {
    background-color: #FFFFFF;
    margin: 30px 15px;
}

.section-reviews .container {
    padding-top: 24px;
    padding-bottom: 24px;
}

    /*Отзывы клиентов - конец*/

   /* Футер - начало*/


.footer {
    background-color: #343c44;
    padding: 10px 30px;
    color: white;
}

.block-footer {
    text-align: end;
}

.social-network {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    gap: 20px;
    color: white;
}

.page-title {
    text-align: center;
}

.slider-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

    /* Футер - конец*/

@media (min-width: 768px) {
    body {
        font-family: "Montserrat-Regular", sans-serif;
        font-size: 16px;
        background-color: #f9f9f9;
    }

    .container {
        max-width: 720px;
    }

    h1 {
        font-size: 25px;
    }

    section.navbar, p.header-address, div.header-contacts {
        display: flex;
    }

    div.menu {
        display: none;
    }

    section.navbar {
        max-height: unset;
    }

    section.navbar .container {
        justify-content: flex-end;
    }

    nav.nav {
        gap: 10px;
        font-size: 14px;
        flex-direction: row;
    }

     .glide__arrows {
        display: block;
    }

    .recording {
        width: 500px;
        border-radius: 5px;
    }

    .header-address {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
    }

    .header-time {
        font-size: 14px;
    }

    .header-tel {
        font-size: 20px;
    }

    .banner-image img {
        object-position: 75%;
    }

    .banner-greetings {
        padding: 60px 0;
    }

    .banner-welcome {
        color: #FFFFFF;
        padding: 20px;
        width: 50%;
        background-color: rgba(52, 60, 68, 0.8);
    }

    .banner-button-span {
        font-size: 16px;
    }

    .section-greetings {
        margin: 24px 0;
    }

    .greetings {
        font-size: 20px;
        line-height: 36px;
    }

    .block-greetings {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

    .section-service {
        padding: 50px 0;
    }

    .service {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 20px 0;
    }
    .section-price-list {
        padding: 24px;
    }
    .block-price {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 20px 40px;
    }
    .price-name {
        margin: 20px 0;
    }

    .comprehensive-block {
        grid-template-columns: repeat(3, 1fr);
    }

    .photo-gallery-arrows {
        display: block;
    }

    .pros-carousel-arrows {
        display: block;
    }

    .section-reviews {
        margin: 30px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    nav.nav {
        gap: 25px;
        font-size: 16px;
        flex-direction: row;
    }

    .carousel .massage-technique {
        width: calc(100% / 3.25);
    }

    .header-tel {
        font-size: 22px;
    }

    .header-address {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
    }

    .banner-image img {
        object-position: 70%;
    }

    .banner-button-general {
        flex-direction: row;
    }

    .block-greetings {
        flex-direction: row;
    }

    .self-title {
        text-align: start;
    }

    .greetings-img-wrapper {
        flex: 1 0 50%;
    }

    .list-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .banner-image img {
        object-position: 60%;
    }

    .block {
        gap: 0;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .banner-image img {
        object-position: center;
    }
}


